[submodule "ClimaAtmos.jl"]
	path = ClimaAtmos.jl
	url = https://github.com/CliMA/ClimaAtmos.jl.git
[submodule "ClimaAtmos.jl-mod"]
	path = ClimaAtmos.jl-mod
	url = https://github.com/CliMA/ClimaAtmos.jl.git
